USE [master]
GO
/****** Object:  Database [EZOrder]    Script Date: 28.1.2018. 14:47:13 ******/
CREATE DATABASE [EZOrder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EZOrder', FILENAME = N/*'Your DB adress'*/ , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EZOrder_log', FILENAME = N/*'Your DB log adress'*/ , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EZOrder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EZOrder]
GO
USE [EZOrder]
GO
/****** Object:  Table [dbo].[FoodItems]    Script Date: 28.1.2018. 14:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FoodCategoryId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_FoodItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 28.1.2018. 14:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewOrderItems]    Script Date: 28.1.2018. 14:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewOrderItems] AS

SELECT 
	oi.[OrderId]
	,oi.[FoodItemId]
    ,fi.[Name]
    ,fi.[Price]
	,COUNT (*) AS [Quantity]
	,COUNT (*) * fi.[Price] As [TotalPrice]
FROM 
	[dbo].[OrderItems] AS oi
	INNER JOIN [dbo].[FoodItems] AS fi ON fi.[Id] = oi.[FoodItemId]
GROUP BY
	oi.[OrderId]
	,oi.[FoodItemId]
    ,fi.[Name]
    ,fi.[Price]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28.1.2018. 14:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NOT NULL,
	[Remark] [nvarchar](1024) NULL,
	[Ordered] [datetime] NULL,
	[Processed] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewOrders]    Script Date: 28.1.2018. 14:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewOrders] AS

SELECT 
	o.[Id]
    ,o.[TableId]
    ,o.[Remark]
    ,o.[Ordered]
    ,o.[Processed]
	,ISNULL(SUM([TotalPrice]),0) AS [OrderTotalPrice]
FROM 
	[dbo].[Orders] AS o
	LEFT OUTER JOIN [dbo].[ViewOrderItems] AS ov ON o.[Id] = ov.[OrderId]
GROUP BY
	o.[Id]
    ,o.[TableId]
    ,o.[Remark]
    ,o.[Ordered]
    ,o.[Processed]
	,ov.[OrderId]


GO
/****** Object:  Table [dbo].[FoodCategories]    Script Date: 28.1.2018. 14:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FoodCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Remark]  DEFAULT ('') FOR [Remark]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Processed]  DEFAULT ((0)) FOR [Processed]
GO
ALTER TABLE [dbo].[FoodItems]  WITH CHECK ADD  CONSTRAINT [FK_FoodItems_FoodCategories] FOREIGN KEY([FoodCategoryId])
REFERENCES [dbo].[FoodCategories] ([Id])
GO
ALTER TABLE [dbo].[FoodItems] CHECK CONSTRAINT [FK_FoodItems_FoodCategories]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_FoodItems] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[FoodItems] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_FoodItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
USE [master]
GO
